{% extends 'posts/base.html' %}
{% load blog_extras %}
{% block content %}

<p class="lead text-secondary mt-3">
    Compartilhando minha jornada de aprendizado
    em Django, Linux, Web Developer e a construção
    de projetos reais
</p>

<div class="mt-4">
    <a href="#posts" class="btn btn-success btn-lg">
        Explorar artigos
    </a>
</div>

</section>


{% if categoria %}
<h2 class="text-muted mb-5">
    Categoria: {{ categoria.nome }}
</h2>
{% endif %}
<section class="container py-5 text-center">
        <h2 class="display-6 fw-bold mb-">
            Projetos em Destaque
        </h2>

        <p class="text-center text-muted mb-5">
            O que estou construindo atualmente
        </p>
   
    <div class="row g-4">

        <div class="col-md-4">
            <div class="project-card">
                <h4>🚀 FitFlix</h4>
                <p>
                Meu principal projeto atualmente.
                Uma plataforma de treinos construída com Django.    
                </p>
            </div>
        </div>

        <div class="col-md-4">
            <div class="project-card">
                <h4>💻 Full-Stack Fitness</h4>

                <p>
                 Onde documento minha jornada com programação,
                 fitness e construção de projetos reais.
                </p>
            </div>
        </div>

        <div class="col-md-4">
            <div class="project-card">
                <h4>⚙️ Automações Python</h4>

                <p>
                    Scripts e ferramentas criadas para resolver
                     problemas do dia a dia.
                </p>
            </div>
        </div>

    </div>

</section>

<h2 class="text-muted mb-5">
    Últimos artigos
</h2>


<div class="row g-4" id="posts">
{% for post in page_obj %}
<div class="col-md-4 mb-4">
    <div class="card h-100 shadow-lg border-0 card-post">
        {% if post.imagem %}
        <img src="{{ post.imagem.url }}" class="card-img-top" 
        style="height:220px; object-fit:cover;">
        {% endif %}

        <div class="card-body">
            <h5 class="card-title fw-bold">
            <a href="{% url 'post_detail' post.slug %}" class="text-decoration-none">
            {{ post.titulo }}
            </a>
            </h5>

            <p class="text-muted small mb-2">
                {{ post.criado_em|date:"d M Y" }} • {{ post_conteudo|tempo_leitura }}
            </p>

            <div class="card-text">
                {{ post.conteudo|truncatewords:20 }}
            </div>

            <a href="{% url 'post_detail' post.slug %}" class="btn btn-primary">
                Ler mais
            </a>
        </div>
    </div>
</div>
{% endfor %}
</div>

<div class="pagination mt-4 mb-5">
    {% if page_obj.has_previous %}
    <a href="?q={{ query }}&page=1" class="btn btn-sm btn-outline-secondary me-2">Primeira</a>
    <a href="?q={{ query }}&page={{ page_obj.previous_page_number }}" class="btn btn-sm btn-outline-secondary me-2">Anterior</a>
    {% endif %}

    <span class="align-self-center mx-3">Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</span>

    {% if page_obj.has_next %}
    <a href="?q={{ query }}&page={{ page_obj.next_page_number }}" class="btn btn-sm btn-outline-secondary ms-2">Próxima</a>
    <a href="?q={{ query }}&page={{ page_obj.paginator.num_pages }}" class="btn btn-sm btn-outline-secondary ms-2">Última</a>
    {% endif %}
</div>

{% endblock %}