{% extends 'posts/base.html' %}

{% block title %}Sobre | Full-Stack Fitness{% endblock %}

{% block content %}

<section class="container py-5">

    <div class="text-center mb-5">
        <h1 class="display-4 fw-bold text-light">
            Sobre Mim
        </h1>

        <p class="lead text-secondary">
            Personal Trainer - Python Dev - Criador do Full-Stack Fitness
        </p>
    </div>

    <div class="about-card">

        <h3 class="text-success mb-3">
            Quem sou eu?
        </h3>

        <p class="lead">
            Meu nome é Matheus e sou Personal Trainer formado. mas 
            sempre tive um "pé" no mundo tech. Hoje sou um Dev junior
            em desenvolvimento, usando as principais linguagens para a
            construção de software, automação, landing pages e sites, 
            tanto para pessoas e para empresas, do meio fitness e fora dele.
        </p>

        <p>
            O Full-Stack Fitness nasceu para documentar minha
            jornada construindo projetos reais com Django,
            Python, Linux, CSS, HTML, Java Script e desenvolvimento web.
        </p>

        <p>
            Aqui compartilho aprendizados, erros, acertos,
            projetos e experiências do dia a dia.
        </p>

    </div>

    <hr class="my-5 border-success">
    
    <section class="mt-5">

        <h2 class="text-title text-center mb-4">
            Tecnologias
        </h2>

        <div class="row g-4">

            
            <div class="col-md-4">

                <div class="tech-card">
                    🐍 Python
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="tech-card">
                    🌐 Django
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="tech-card">
                    🐧 Linux
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="tech-card">
                    🔀 Git
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="tech-card">
                    🗄️ MySQL
                </div>
            </div>

            <div class="col-md-4">
                <div class="tech-card">
                    ⚡ Automação
                </div>
            </div>

            <div class="col-md-4">
                <div class="tech-card">
                    🎯 Django + Bootstrap
                </div>
        </div>
    </section>

</section>

{% endblock %}